* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.blueBackground {
    background-color: blue;
}

.pinkBackground {
    background-color: pink;
}

.greenBackground {
    background-color: green;
}

.container {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btns {
    display: flex;
    justify-content: space-between;

    border: 2px solid black;
    background-color: white;
}

.btn {
    width: 200px;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.btn:hover {
    cursor: pointer;
}

.blue_btn {
    background-color: rgba(0, 0, 255, 0.5);
}

.pink_btn {
    background-color: rgba(255, 192, 203, 0.5);
}

.green_btn {
    background-color: rgba(0, 255, 0, 0.5);
}